<ion-header [translucent]="true">
<ion-toolbar >
  <div class="bgtoolbar">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title class="center">ร้านวุฒิศักดิ์</ion-title>
 </div>
 </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
<div class="bg">
<ion-grid>
<ion-row>
  <ion-col>
    <div class="shop">
<img src="assets/product/15promax.webp" alt="">
<ion-label>Iphone 15 pro max <br>
ราคา 44,900 บาท<br>
<ion-button>
  <ion-icon name="cart"></ion-icon>
  สั่งซื้อ
</ion-button>
</ion-label>
</div>
  </ion-col>

  <ion-col>
    <div class="shop">
    <img src="assets/product/f23fe.webp" alt="">
    <ion-label>Samsung S23<br>
      ราคา 21,000 บาท<br>
      <ion-button>
        <ion-icon name="cart"></ion-icon>
        สั่งซื้อ
      </ion-button>
      </ion-label>
    </div>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <div class="shop">
  <img src="assets/product/ipadair5.webp" alt="">
  <ion-label>Ipad air 5 <br>
    ราคา 23,900 บาท<br>
    <ion-button>
      <ion-icon name="cart"></ion-icon>
      สั่งซื้อ
    </ion-button>
    </ion-label>
  </div>
    </ion-col>

    <ion-col>
      <div class="shop">
      <img src="assets/product/mi-14tpro.jpg" alt="">

      <ion-label>Xiaomi 14 T <br>
        ราคา 23,900 บาท<br>
        <ion-button>
          <ion-icon name="cart"></ion-icon>
          สั่งซื้อ

        </ion-button>
        </ion-label>
      </div>
      </ion-col>
      </ion-row>

      <ion-row>
  <ion-col>
    <div class="shop">
  <img src="assets/product/mipad5.jpg" alt="">
  <ion-label>Xiaomi Pad 5 <br>
    ราคา 13,990 บาท<br>
    <ion-button>
      <ion-icon name="cart"></ion-icon>
      สั่งซื้อ
    </ion-button>
    </ion-label>
    </div>
</ion-col>

    <ion-col>
      <div class="shop">
      <img src="assets/product/s24.webp" alt="">
      <ion-label>Sumsung S24 ultra <br>
        ราคา 41,900 บาท<br>
        <ion-button>
          <ion-icon name="cart"></ion-icon>
          สั่งซื้อ
        </ion-button>
        </ion-label>
      </div>
    </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="shop">
        <img src="assets/product/ts9.jpg" alt="">
        <ion-label>Samsung tab s9<br>
          ราคา 28,900 บาท<br>
          <ion-button>
            <ion-icon name="cart"></ion-icon>
            สั่งซื้อ
          </ion-button>
          </ion-label>
        </div>
      </ion-col>

          <ion-col>
            <div class="shop">
            <img src="assets/product/vivo-y20.png" alt="">
            <ion-label>vivo Y20 <br>
              ราคา 5,990 บาท<br>
              <ion-button>
                <ion-icon name="cart"></ion-icon>
                สั่งซื้อ
              </ion-button>
              </ion-label>
            </div>
          </ion-col>
            </ion-row>
</ion-grid>
</div>
</ion-content>
