.bgtoolbar{
  color:rgb(12, 12, 12);
  background-color:  rgb(247, 216, 138);
}

.bg{
  background-color: #5f5f5f;
  height: 100%;
}

.center{
text-align: center;
margin-right: 50px;
}
.shop{
  text-align: center;
}
